{% include 'signature' %}
<footer>
  <section class="section--status">
    <div class="section__content status__trigger">
      <div class="five-twelfths text-left desktop-only">
        <p>
          <small>STATUS</small><br />
          <span>Fishing in Cordova</span>
        </p>
      </div>
      <div class="one-sixths text-center">
        {{ 'df-logo-small.svg' | asset_url | img_tag: null, 'logo' }}
      </div>
      <div class="five-twelfths text-right desktop-only">
        <p class="wide-only-ib">
          <small>TEMPERATURE</small><br />
          <span class="status-temperature">72</span><span>&deg;</span>
        </p>
        <p>
          <small>WEATHER</small><br />
          <span class="status-conditions">Raining</span>
        </p>
        <p class="wide-only-ib">
          <small>TIME</small><br />
          <span class="status-time">10:35pm</span>
        </p>
      </div>
    </div>
    <div class="status__drawer">
      <div class="status__container">
        <h1 class="header">We're Out Fishing!</h1>
        <p><small>Prince William Sound & The Copper River</small></p>
        <p class="section__link__normal"><small><a href="/pages/process">Our Process</a></small></p>
      </div>
    </div>
  </section>
</footer>