<footer>
  <section class="section--footer">
    <div class="section__content">
        <div class="two-thirds text-left newsletter__form">
          <p>
            <small>Newsletter Signup</small><br />
            <h2>Stay up to date with recipes, our whereabouts, and events in your area.</h2>
            <form>
              <input type="email" placeholder="name@email.com">
                <input type="submit" value="Submit">
                    </form>
                </p>
            </div>
            <div class="one-thirds text-left contact__details">
                <small>Contact Us</small>
                <ul>
                    <li><a href="">info@driftersfish.com</a></li>
                    <li>907 317 2958</li>
                </ul>
                <small class="contact--line">Please contact us with any questions you may have. We're happy to help.</small>
            </div>
        </div>
    </section>
</footer>