<section class="section--signature">
  <div class="section__content">
    <div class="full">
      {{ 'df-logo-stacked-white.svg' | asset_url | img_tag: shop.name, 'logo' }}
    </div>
    <div class="full">
      {{ 'signature2.svg' | asset_url | img_tag: 'Michael & Nelly Hand', 'signature' }}
    </div>
  </div>
</section>