.desktop-only {
	display: none;
  	@include media($medium-screen) {
    	display: block;
  	}
}

.mobile-only {
	display: block !important;
	@include media($medium-screen) {
	  	display: none !important;
	}
}

.wide-only-ib {
  display: none !important;
  @include media($large-screen) {
    display: inline-block !important;
  }
}

.center-content {
  clear: both;
  margin: 0 auto;
  text-align: center;
}