.desktop-only {
	display: none !important;
  	@include media($medium-screen) {
    	display: block !important;
  	}
}

.mobile-only {
	display: block !important;
	@include media($medium-screen) {
	  	display: none !important;
	}
}

.wide-only-ib {
  display: none !important;
  @include media($large-screen) {
    display: inline-block !important;
  }
}