#about-us {
	h2 {
		margin-top: $base-spacing/2;

		@include media($medium-screen) {
			margin-top: 0;
		}
	}	

	.section__link {
	  margin-top: $base-spacing/2;

	  @include media($medium-screen) {
	  	margin-top: 0;
	  }
	}

	.full {
		.one-quarters {
			margin-bottom: 0;
		}
	}

	.short-description {
		margin-top: #{1.75 * flex-gutter()};
	}

	.df-seal {
		z-index: 8;
	}
}