#logo {
	img {
		margin-top: -3em;
	}
}

.section--video {
	@include media($medium-screen) {
		margin-top: -6.25em;
	}
}

.section--hands {
	.section__link {
		margin-top: 0;

	 	@include media($medium-screen) {
			float: none;
			margin-top: 0;
		}
	}
}

.wave {
  margin-top: #{3 * flex-gutter()};
  width: 220px;
}