#process {
  section {
    overflow: hidden;
  }

  .section__content {
    @include media($medium-screen) {
      @include pad(#{2.5 * flex-gutter()});
      padding-bottom: #{2 * flex-gutter()};
      padding-top: #{1.75 * flex-gutter()};
    }

    .full:last-child {
      margin-bottom: 0;

      .padded:last-child {
        padding-bottom: 0;
      }
    }
  }

  h2 {
    margin-bottom: 0.5rem;

    @include media($medium-screen) {
      margin-bottom: $small-spacing;
    }
  }

  .process__number {
    @include position(absolute, 0.5rem null null calc(100% - 75px));
    width: 75px;

    @include media($medium-screen) {
      @include position(relative, null null null 50%);
      width: 120px;
    }
  }

  .snow-background .process__location small {
    background-color: $snow;
  }

  .process__season {
    font-size: modular-scale(-3);
  }

  .process__location {
    small {
      @include pad;
      background-color: $white;
    }

    display: none;

    @include media($medium-screen) {
      @include position(absolute, 50% 0 null 0);
      display: block;
      transform: translateY(-50%);

      .line {
        @include position(absolute, 0 null null 1.5em);
        border-bottom: 1px solid $silver;
        height: 0;
        transform-origin: left;
        width: 100%;

        &.line--down {
          transform: rotate(-90deg) translateX(-107%);
        }
        &.line--up {
          transform: rotate(-90deg) translateX(-7%);
        }
      }

      small {
        @include position(absolute, null null null 2.7em);
        padding: 0 10px;
        transform: rotate(-90deg) translateX(-50%);
        transform-origin: left;
      }
    }
  }

  .current__location {
    border: 2px solid $action-color;
  }

  .section--attention {
    border: 2px solid $action-color;
    border-width: 2px 0 2px 0;
    color: $action-color !important;
  }

  small.mobile-only {
    float: left;
  }

  .section--status {
    .section__content {
      padding-bottom: #{0.4 * flex-gutter()};
      padding-top: #{0.5 * flex-gutter()};
    }
  }
  
  .section--attention {
    .section__link {
      @include media($medium-screen) {
        @include position(absolute, 45% 0 null 0);
      }
    }
  }
}
