header {
  @include position(fixed, 0 0 null 0);
  text-align: center;
  z-index: 9;
}

nav {
  background-color: $brand-blue;
  color: white;
  height: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: height $base-duration $base-timing;
}

nav a {
  color: $white;
  font-family: 'Simplon Mono';
  &:hover {
    color: $action-color;
  }
}

nav .logo {
  margin: 2em 0;
  width: 150px;
}

nav .seal {
  @include position(absolute, -40px null null 50px)
  width: 180px;
}

.nav__container {
  @include position(absolute, 0 null 0 null);
  border: 1px solid white;
  height: calc(100vh - 3.5%);
  margin: flex-gutter();
  top: 0;
  width: calc(100% - #{2 * flex-gutter()});

  @include media($medium-screen) {
    height: auto;
    top: auto;
  }
}

.nav__trigger {
  @include position(absolute, 0 0 null null);

  cursor: pointer;
  padding: $base-spacing;
  float: right;
  z-index: 8;

  img {
    width: 30px;
  }

  @include media($medium-screen) {
    float: none;
    position: static;
  }
}