header {
  @include position(fixed, 0 0 null 0);
  height: auto;
  pointer-events: auto;
  z-index: 10;

  @include media($medium-screen) {
    background: rgba(255,255,255, 0);
    height: auto;
    text-align: center;
    z-index: 8;
    transition: all 0.4s ease;
  }
}

.nav_open {
  z-index: 10;

  @include media($medium-screen) {
    background: rgba(255,255,255, 0.9);
    pointer-events: all;
    transition: all 0.4s ease;
  }
}

nav {
  background-color: $brand-blue;
  color: white;
  height: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: height $base-duration $base-timing;

  @include media($medium-screen) {
    background-color: transparent;
    color: $brand-blue;
    height: 90px !important;
  }
}

.nav__links {
  position: relative;
  z-index: 10;

  @include media($medium-screen) {
    li {
      float: left;

      &:nth-of-type(1) {
        span {
          position: relative;
        }
      }
    }

    a[href="/cart"] {
      color: $brand-orange;
      letter-spacing: 0.15rem;
      position: absolute;
      right: 2.75rem;
      top: 0;
    }
  }

  a {
    color: transparent;
    display: inline-block;
    margin: 0.85rem auto;
    opacity: 1;
    width: 280px;
    @include transition(opacity 0.25s ease);

    @include media($medium-screen) {
      color: #999;
      float: left;
      font-size: 0.68rem;
      letter-spacing: 0.2rem;
      margin: 2.3rem auto;
      width: 100%;

      &:hover {
        color: #999 !important;
        @include transition(color 0.25s ease);
      }
    }

    &:hover {
      color: transparent;
      opacity: 0.7;
      @include transition(opacity 0.25s ease);
    }

    &.process {
      background: transparent url('df-nav-process.svg') no-repeat 50% 50%;
      background-size: auto 15px;

      @include media($medium-screen) {
        background: none;
      }
    }
    &.about {
      background: transparent url('df-nav-about.svg') no-repeat 50% 50%;
      background-size: auto 15px;

      @include media($medium-screen) {
        background: none;
      }
    }
    &.recipes {
      background: transparent url('df-nav-recipes.svg') no-repeat 50% 50%;
      background-size: auto 15px;

      @include media($medium-screen) {
        background: none;
      }
    }
    &.contact {
      background: transparent url('df-nav-contact.svg') no-repeat 50% 50%;
      background-size: auto 15px;
      margin-bottom: 4rem;

      @include media($medium-screen) {
        background: none;
        margin-bottom: 1.2rem
      }
    }
    &.order {
      background: transparent url('df-nav-order-salmon.svg') no-repeat 50% 50%;
      background-size: auto 15px;
      margin: 2.5rem auto;

      @include media($medium-screen) {
        background: none;
        margin: 1.2rem auto;
      }
    }
  }

  .first {
    @include media($medium-screen) {
      a {
        color: $brand-orange !important;

        &:hover {
          color: $brand-orange !important;
        }
      }
    }
  }

  .last {
    border-bottom: 1px solid $silver;
    border-top: 1px solid $silver;
    position:relative;

    @include media($medium-screen) {
      border: none;
    }

    &::before {
      @include position(absolute, -42px 0 null 0)
      background: $brand-blue url('df-cordova-stamp-01.svg') no-repeat 50% 50% / 85%;
      content: '';
      height: 60px;
      margin: auto;
      padding: 1rem;
      width: 200px;

      @include media($medium-screen) {
        display: none;
      }
    }
  }
}

nav a {
  color: $white;
  font-family: 'Simplon Mono';
  &:hover {
    color: $action-color;
  }

  &.active {
    color: $brand-orange;
  }
}

nav .logo {
  margin: 1.25rem auto;
  position: relative;
  width: 125px;
  z-index: 10;

  @include media($medium-screen) {
    @include position(absolute, 0 0 0 0);
    display: block;
    margin: 0 auto;
    width: 135px;
  }
}

nav .seal {
  @include position(absolute, 62% 0 0 0);
  margin: auto;
  width: 90px;

  @include media($medium-screen) {
    display: none;
  }
}

.nav__container {
  @include position(absolute, null null null null);
  border: 1px solid $silver;
  height: calc(100vh - 3.5%);
  margin: 0.75rem;
  top: 0;
  width: calc(100% - 1.5rem);

  @include media($medium-screen) {
    background: $white;
    border: none;
    height: auto;
    margin: 0;
    top: auto;
    width: 100%;
  }
  .desktop-only {
    ul {
      margin: 0 auto;
      max-width: 1550px;

      li {
        width: 20%
      }
    }
  }
}

@keyframes animatedBackground {
  from { background-position: 0px 0px; }
  to { background-position: 30px 0px; }
}
@-moz-keyframes animatedBackground {
  from { background-position: 0px 0px; }
  to { background-position: 30px 0px; }
}
@-webkit-keyframes animatedBackground {
  from { background-position: 0px 0px; }
  to { background-position: 30px 0px; }
}

.mobile__logo {
  @include position(absolute, 0 0 null 0);
  margin: 0 auto;
  opacity: 1;
  position: absolute;
  width: 125px;
  @include transition(opacity 0.25s ease);

  @include media($medium-screen) {
    display: none;
  }
}

nav.open + p.mobile__logo {
  opacity: 0;
  @include transition(opacity 0.25s ease);
}

.nav_open {
  .nav__trigger {
    &::after {
      @include position(absolute, null 0 8% 0);
      background: url('df-mobile-close.svg') repeat-x 0 0;
      background-size: 100%;
      height: 20px;
      margin: 0 auto;
      opacity: 1;
      width: 20px;
      z-index: 9;
      transition: all 0.25s ease;
    }

    @include media($medium-screen) {
      position: relative;
    }
  }
}

.nav__trigger {
  @include position(absolute, 0 4% null null);
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 25px;
  width: 25px;
  margin: 0 auto;
  padding: 1.8em 1.5em;
  pointer-events: all;
  z-index: 8;

  &::before {
    @include position(absolute, null 0 2% 0);
    background: url('df-wave-menu.svg') repeat-x 0 0;
    background-size: 100%;
    content: '';
    cursor: pointer;
    display: block;
    height: 25px;
    margin: 0 auto;
    width: 25px;
  }

  &::after {
    content: '';
    opacity: 0;
    transition: all 0.25s ease;
  }

  @include media($medium-screen) {
    display: none;
    &:hover {
      &::before {
        -webkit-animation: animatedBackground 0.75s linear infinite;
        -moz-animation: animatedBackground 0.75s linear infinite;
        animation: animatedBackground 0.75s linear infinite;
        animation-delay: 0;
      }
    }

    @include position(absolute, 0 0 0 0);
    float: none;
    padding: $base-spacing;
    height: 30px;
    width: 30px;

    &::before {
      height: 30px;
      width: 30px;
    }
  }
}