header {
  @include position(fixed, 0 0 null 0);
  text-align: center;
  z-index: 1;
}

nav {
  background-color: $brand-blue;
  color: white;
  height: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: height $base-duration $base-timing;
}

nav a {
  color: $white;
  font-family: 'Simplon Mono';
  &:hover {
    color: $action-color;
  }
}

nav .logo {
  margin: 2em 0;
  width: 150px;
}

nav .seal {
  @include position(absolute, -40px null null 50px)
  width: 180px;
}

.nav__container {
  @include position(absolute, null null 0 null);
  border: 1px solid white;
  margin: flex-gutter();
  width: calc(100% - #{2 * flex-gutter()});
}

.nav__trigger {
  cursor: pointer;
  padding: $base-spacing;
  float: right;

  img {
    width: 30px;
  }

  @include media($medium-screen) {
    float: none;
  }
}