.instagram__feed {
	margin: 0 auto;

	@include media($medium-screen) {
		margin: 2.4rem auto 0;
	}

  	.iframe__cropper {
    	height: 675px;
    	overflow: hidden;
  	}

  	iframe {
    	overflow-y: hidden;
    	pointer-events: none;
  	}
}
