#about-us {
	.df-seal {
		position: absolute;
		right: $base-spacing;
		top: $base-spacing*12;
		width: 25%;
		z-index: 9;

		@include media($medium-screen) {
			position: relative;
			right: inherit;
			top: inherit;
			width: 20%;
		}
	}
}