section {
  position: relative;
}

.section__content {
  @include outer-container;
  @include pad(#{2 * flex-gutter()});
  padding-bottom: #{4.5 * flex-gutter()};
  padding-top: #{4 * flex-gutter()};
  position: relative;

  @include media($medium-screen) {
    padding-bottom: #{2 * flex-gutter()};
    padding-top: #{1.75 * flex-gutter()};
  }

  &.no-padding-top {
    padding-top: 0;
  }

  .full {
    margin-bottom: #{2 * flex-gutter()};
    position: relative;

    h3 {
      margin-top: #{1.5 * flex-gutter()};
      @include media($medium-screen) {
        margin-top: 0;
      }
    }
  }
}

.section--full {
  height: 100%;
  position: relative;

  @include media($medium-screen) {
    min-height: 100vh;

    &:before {
      min-height: 100vh;
    }
  }
}

.section--half {
  height: 100%;
  min-height: 50vh;
  position: relative;
  &:before {
    min-height: 50vh;
  }
}

.section--full,
.section--half {
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  .section__content {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
}

.section__link {
  a {
    @include pad;
    border: 1px solid $action-color;
    color: $action-color;
    display: inline-block;
    font-size: modular-scale(-2);
    margin-top: 2em;
    text-align: center;
    text-decoration: none;
    width: 100%;
    &:hover {
      background-color: $action-color;
      color: $white;
    }
  }

  @include media($medium-screen) {
    @include position(absolute, 50% 0 null 0);
    margin-top: 0;
    transform: translateY(-50%);

    a {
      @include position(absolute, null 1.5em null null);
      background-color: transparent;
      border-bottom: 1px solid currentColor;
      border-width: 0 0 1px 0;
      font-size: 0.75rem;
      padding: 0;
      transform: rotate(-90deg) translateX(60%);
      transform-origin: right;
      width: auto;

      &:hover {
        background-color: inherit;
        color: inherit;
      }
    }
  }
}