section {
  position: relative;
}

.section__content {
  @include outer-container;
  @include pad(#{2.75 * flex-gutter()});
  padding-bottom: #{4.5 * flex-gutter()};
  padding-top: #{4 * flex-gutter()};
  position: relative;

  @include media($medium-screen) {
    padding-bottom: #{2 * flex-gutter()};
    padding-top: #{1.75 * flex-gutter()};
  }

  &.no-padding-top {
    padding-top: 0;
  }

  .full {
    margin-bottom: #{2 * flex-gutter()};
    position: relative;

    h3 {
      margin-top: #{1.5 * flex-gutter()};
      @include media($medium-screen) {
        margin-top: 0;
      }
    }

    div:first-child {
      margin-bottom: $base-spacing/2;
    }
  }
}

.section--full {
  height: 100%;
  position: relative;

  @include media($medium-screen) {
    min-height: 100vh;

    &:before {
      min-height: 100vh;
    }
  }
}

.section--half {
  height: 100%;
  min-height: 50vh;
  position: relative;
  &:before {
    min-height: 50vh;
  }
}

.section--full,
.section--half {
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  .section__content {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
}

.section__link {
  float: left;
  display: block;
  margin-top: $base-spacing;
  width: 100%;

  @include media($medium-screen) {
    float: none;
    margin-top: 0;
    width: auto;
  }

  a {
    border: 1px solid $action-color;
    color: $action-color;
    display: inline-block;
    font-size: modular-scale(-3);
    padding: $base-spacing/1.5;
    text-align: center;
    text-decoration: none;
    width: 100%;
    @include transition(all 0.2s ease);

    &:hover {
      background-color: $action-color;
      color: $white;
      @include transition(all 0.2s ease);
    }
  }

  @include media($medium-screen) {
    @include position(absolute, 50% 0 null 0);
    font-size: modular-scale(-2);
    margin-top: 0;
    transform: translateY(-50%);

    a {
      @include position(absolute, null 2.75% null null);
      background-color: transparent;
      border-bottom: 1px solid currentColor;
      border-width: 0 0 1px 0;
      font-size: 0.75rem;
      padding: 0;
      transform: rotate(90deg) translateX(50%);
      transform-origin: right;
      width: auto;
      @include transition(all 0.2s ease);

      &:hover {
        background-color: inherit;
        color: $brand-blue;
        @include transition(all 0.2s ease);
      }
    }
  }
}

.section__link__normal {
  a {
    border-bottom: 1px solid $action-color;
    display: inline-block;
    letter-spacing: 0.25rem;
    @include transition(all 0.2s ease);

    &:hover {
      background-color: inherit;
      border-color: $brand-blue;
      color: inherit;
      @include transition(all 0.2s ease);
    }
  }
}

.secondary-link {
  color: $silver;
  display: block;
  font-family: $secondary-font-family;
  font-size: modular-scale(-3, 1.3rem);
  letter-spacing: 0.25rem;
  margin-top: $base-spacing/2;
  text-align: center;

  @include media($medium-screen) {
    text-align: left;
  }

  &:hover {
    color: darken($silver, 10%);
  }
}