.section--signature {
  background-color: $midnight;
  color: $white;
  text-align: center;

  .logo {
    margin-bottom: 30px;
    width: 150px;
  }

  .signature {
    max-width: 800px;
    width: 90%;
  }
}