html {
  height: 100%;
}
body {
  padding-bottom: 98px; // estimate of status height, JS this
  position: relative;
  min-height: 100%;
  transition: padding-bottom $base-duration $base-timing;
}

footer {
  @include position(absolute, null null 0 null);
  background-color: $white;
  width: 100%;
}

.section--status {
  position: relative;
  .section__content {
    padding-bottom: #{0.4 * flex-gutter()};
    padding-top: #{0.5 * flex-gutter()};
  }

  small {
    color: $brand-orange;
    font-size: modular-scale(-3);
  }

  p {
    display: inline-block;
  }

  .text-right {
    p:nth-child(1) {
      margin-left: 0;
    }

    p {
      margin-left: $base-spacing * 1.2;

      @include media($medium-screen) {
        margin-left: $base-spacing * 1.5;
      }
    }
  }

  .text-center {
    .logo {
      margin: 20px 0;
      width: 25px;
    }
  }
}

.status__trigger {
  cursor: pointer;
}

.status__drawer {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height $base-duration $base-timing;

  small {
    color: $brand-blue;
  }
}

.status__container {
  @include position(absolute, 0 null null null);
  border: 2px solid $brand-orange;
  margin: 0;
  padding: flex-gutter();
  padding-bottom: #{2.5 * flex-gutter()};
  padding-top: #{2 * flex-gutter()};
  text-align: center;
  width: 100%;

  h1 {
    margin-bottom: $base-spacing/7;
  }

  small {
    font-size: modular-scale(-2);
  }

  .section__link__normal {
    display: block;
  }
}