.section--status {
  position: relative;
  .section__content {
    padding-bottom: #{0.4 * flex-gutter()};
    padding-top: #{0.5 * flex-gutter()};
  }

  small {
    color: $brand-orange;
    font-size: modular-scale(-3);
  }

  p {
    display: inline-block;
  }

  .text-right {
    p:nth-child(1) {
      margin-left: 0;
    }

    p {
      margin-left: $base-spacing * 1.2;

      @include media($medium-screen) {
        margin-left: $base-spacing * 1.5;
      }
    }
  }

  .text-center {
    .logo {
      margin: 14px 0;
      width: 25px;
    }
  }
}

.status__trigger {
  cursor: pointer;
}

.status__drawer {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height $base-duration $base-timing;
}

.status__container {
  @include position(absolute, 0 null null null);
  border: 1px solid white;
  margin: flex-gutter();
  text-align: center;
  width: calc(100% - #{2 * flex-gutter()});
}