button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #FC7523;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "DomaineTextWeb-Light";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 300ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #ca5e1c;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #FC7523; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "DomaineTextWeb-Light";
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 300ms ease-in-out;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #FC7523;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(252, 101, 10, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #0A5593;
  font-family: "DomaineTextWeb-Light";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DomaineTextWeb-Light";
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 4.5rem; }

h2 {
  font-size: 2.875rem; }

h3 {
  font-size: 1.75rem; }

p {
  font-size: 1.1875rem;
  margin: 0 0 0.75em; }

small {
  color: #BFBFBF;
  font-family: 'Simplon Mono';
  font-size: 0.75rem;
  text-transform: uppercase; }

p.round {
  border: 2px solid #FC7523;
  border-radius: 100px;
  display: inline-block;
  color: #FC7523;
  height: 100px;
  font-family: 'Simplon Mono';
  text-align: center;
  width: 100px; }

a {
  color: #FC7523;
  font-family: 'Simplon Mono';
  font-weight: 200;
  letter-spacing: 0.3em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 300ms ease-in-out; }
  a:active, a:focus, a:hover {
    color: #b05219; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.padded {
  padding: 3rem 0; }

.bottom {
  margin-bottom: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 1; }

nav {
  background-color: #0A5593;
  color: white;
  height: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: height 300ms ease-in-out; }

nav a {
  color: #fff;
  font-family: 'Simplon Mono'; }
  nav a:hover {
    color: #FC7523; }

nav .logo {
  margin: 2em 0;
  width: 150px; }

nav .seal {
  position: absolute;
  top: -40px;
  left: 50px;
  width: 180px; }

.nav__container {
  position: absolute;
  bottom: 0;
  border: 1px solid white;
  margin: 2.35765%;
  width: calc(100% - 4.7153%); }

.nav__trigger {
  cursor: pointer;
  padding: 1.5em; }
  .nav__trigger img {
    width: 30px; }

section {
  position: relative; }

.section__content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 7.07295%; }
  .section__content::after {
    clear: both;
    content: "";
    display: block; }

.section--full {
  height: 100%;
  min-height: 100vh;
  position: relative; }
  .section--full:before {
    min-height: 100vh; }

.section--half {
  height: 100%;
  min-height: 50vh;
  position: relative; }
  .section--half:before {
    min-height: 50vh; }

.section--full,
.section--half {
  text-align: center; }
  .section--full:before,
  .section--half:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }
  .section--full .section__content,
  .section--half .section__content {
    display: inline-block;
    vertical-align: middle;
    width: 100%; }

.section__link a {
  padding: 2.35765%;
  border: 1px solid #FC7523;
  color: #FC7523;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%; }
  .section__link a:hover {
    background-color: #FC7523;
    color: #fff; }

@media screen and (min-width: 600px) {
  .section__link {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%); }
    .section__link a {
      position: absolute;
      right: 1.5em;
      background-color: transparent;
      border-bottom: 1px solid currentColor;
      border-width: 0 0 1px 0;
      font-size: 0.75rem;
      padding: 0;
      transform: rotate(-90deg) translateX(60%);
      transform-origin: right;
      width: auto; }
      .section__link a:hover {
        background-color: inherit;
        color: inherit; } }

.section--signature {
  background-color: #021D2C;
  color: #fff;
  text-align: center; }
  .section--signature .logo {
    margin-bottom: 30px;
    width: 150px; }
  .section--signature .signature {
    max-width: 800px;
    width: 90%; }

.section--intro {
  text-align: center; }
  .section--intro #logo img {
    width: 200px; }

.section--profile .profile__bio {
  font-size: 1.1875rem; }

.section--status .section__content {
  padding-bottom: 1.17883%;
  padding-top: 1.17883%; }

.section--status p {
  display: inline-block; }

.section--status .text-right p {
  margin-left: 20px; }

.section--status .logo {
  margin: 14px 0;
  width: 25px; }

.alabaster-background {
  background-color: #FCFCFA; }

.solitude-background {
  background-color: #E6EEF5; }

.snow-background {
  background-color: #FDFBFA; }

.one-sixths {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .one-sixths:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .one-sixths {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .one-sixths:last-child {
        margin-right: 0; } }

.one-quarters {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .one-quarters:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .one-quarters {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .one-quarters:last-child {
        margin-right: 0; } }

.one-thirds {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .one-thirds:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .one-thirds {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .one-thirds:last-child {
        margin-right: 0; } }

.one-half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .one-half:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .one-half {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .one-half:last-child {
        margin-right: 0; } }

.two-thirds {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .two-thirds:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .two-thirds {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .two-thirds:last-child {
        margin-right: 0; } }

.three-quarters {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .three-quarters:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .three-quarters {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .three-quarters:last-child {
        margin-right: 0; } }

.five-sixths {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .five-sixths:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .five-sixths {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%; }
      .five-sixths:last-child {
        margin-right: 0; } }

.full {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .full:last-child {
    margin-right: 0; }

.shift-one-sixths {
  margin-left: 0%; }
  @media screen and (min-width: 600px) {
    .shift-one-sixths {
      margin-left: 17.05961%; } }

.shift-one-quarters {
  margin-left: 0%; }
  @media screen and (min-width: 600px) {
    .shift-one-quarters {
      margin-left: 25.58941%; } }

.desktop-only {
  display: none !important; }
  @media screen and (min-width: 600px) {
    .desktop-only {
      display: block !important; } }

.wide-only-ib {
  display: none !important; }
  @media screen and (min-width: 900px) {
    .wide-only-ib {
      display: inline-block !important; } }

.wave {
  margin-top: 7.07295%;
  width: 220px; }

.process__number {
  position: relative;
  left: calc(100% - 100px);
  width: 100px; }
  @media screen and (min-width: 600px) {
    .process__number {
      position: relative;
      left: 50%; } }
