html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, [type='button'], [type='reset'], [type='submit'], #contactFormSubmit, a.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #FC7523;
  border-radius: 0;
  color: #FC7523;
  cursor: pointer;
  display: inline-block;
  font-family: "Simplon Mono";
  font-size: 0.64em;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  letter-spacing: 0.2rem;
  min-width: 250px;
  padding: 1.29167em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -spec-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media screen and (min-width: 600px) {
    button, [type='button'], [type='reset'], [type='submit'], #contactFormSubmit, a.button {
      font-size: 0.64em;
      padding: 0.86111em; } }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus, #contactFormSubmit:hover, #contactFormSubmit:focus, a.button:hover, a.button:focus {
    background-color: #FC7523;
    color: #fff;
    -spec-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled, #contactFormSubmit:disabled, a.button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover, #contactFormSubmit:disabled:hover, a.button:disabled:hover {
      background-color: #FC7523; }

#contactFormSubmit {
  width: 100%; }
  @media screen and (min-width: 600px) {
    #contactFormSubmit {
      width: 50%; } }

a.button {
  border: 1px solid #FC7523;
  color: #FC7523;
  display: inline-block;
  font-size: 0.512em;
  padding: 0.86111em;
  text-align: center;
  text-decoration: none;
  width: 100%;
  transition: all 0.2s ease; }
  @media screen and (min-width: 600px) {
    a.button {
      font-size: 0.64em;
      margin-top: 1.5rem;
      width: 250px; } }

a.button-round {
  border: 1px solid #FC7523;
  color: #FC7523;
  display: inline-block;
  font-size: 0.512em;
  padding: 0.86111em;
  text-align: center;
  text-decoration: none;
  width: 100%;
  transition: all 0.2s ease; }
  @media screen and (min-width: 600px) {
    a.button-round {
      border: 2px solid #FC7523;
      border-radius: 100px;
      display: table;
      color: #FC7523;
      height: 100px;
      font-family: 'Simplon Mono';
      letter-spacing: 0.25rem;
      position: absolute;
      right: 0;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      width: 100px;
      z-index: 0; }
      a.button-round span {
        display: table-cell;
        font-size: 1em;
        line-height: 1.35;
        padding-left: 3px;
        padding-top: 0;
        vertical-align: middle; } }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.3875em;
  padding: 0; }

label {
  color: #BFBFBF;
  font-family: 'Simplon Mono';
  font-size: 0.704rem;
  letter-spacing: 0.2rem;
  line-height: 1.7;
  text-transform: uppercase;
  display: block;
  font-weight: 200;
  margin-bottom: 0.775em; }

input,
select,
textarea {
  display: block;
  font-family: "DomaineTextWeb-Light";
  font-size: 1.25em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea,
select[multiple], textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #444;
  float: left;
  font-size: 1.5625em;
  margin-bottom: 0.3875em;
  padding: 0.3875em 0;
  transition: border-color 300ms ease-in-out;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover, textarea:hover {
    border-color: #ddd; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus, textarea:focus {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #FC7523;
    box-shadow: none;
    outline: none; }
    [type='color']:focus + span, [type='date']:focus + span, [type='datetime']:focus + span, [type='datetime-local']:focus + span, [type='email']:focus + span, [type='month']:focus + span, [type='number']:focus + span, [type='password']:focus + span, [type='search']:focus + span, [type='tel']:focus + span, [type='text']:focus + span, [type='time']:focus + span, [type='url']:focus + span, [type='week']:focus + span, input:not([type]):focus + span, textarea:focus + span,
    select[multiple]:focus + span, textarea:focus + span {
      color: #FC7523;
      transition: color 0.25s ease; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder,
  select[multiple]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #b3b3b3;
    font-family: "Simplon Mono";
    font-size: 0.64em;
    letter-spacing: 0.25rem;
    margin-top: -0.2rem;
    padding: 0 0.3875em 0.51667em;
    text-transform: uppercase; }
  [type='color']::-moz-placeholder, [type='date']::-moz-placeholder, [type='datetime']::-moz-placeholder, [type='datetime-local']::-moz-placeholder, [type='email']::-moz-placeholder, [type='month']::-moz-placeholder, [type='number']::-moz-placeholder, [type='password']::-moz-placeholder, [type='search']::-moz-placeholder, [type='tel']::-moz-placeholder, [type='text']::-moz-placeholder, [type='time']::-moz-placeholder, [type='url']::-moz-placeholder, [type='week']::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder,
  select[multiple]::-moz-placeholder, textarea::-moz-placeholder {
    color: #b3b3b3;
    font-family: "Simplon Mono";
    font-size: 0.64em;
    letter-spacing: 0.25rem;
    margin-top: -0.2rem;
    padding: 0 0.3875em 0.51667em;
    text-transform: uppercase; }
  [type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder,
  select[multiple]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #b3b3b3;
    font-family: "Simplon Mono";
    font-size: 0.64em;
    letter-spacing: 0.25rem;
    margin-top: -0.2rem;
    padding: 0 0.3875em 0.51667em;
    text-transform: uppercase; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder,
  select[multiple]::placeholder, textarea::placeholder {
    color: #b3b3b3;
    font-family: "Simplon Mono";
    font-size: 0.64em;
    letter-spacing: 0.25rem;
    margin-top: -0.2rem;
    padding: 0 0.3875em 0.51667em;
    text-transform: uppercase; }

textarea {
  height: auto;
  margin-top: 0.775em;
  resize: vertical; }
  textarea::-webkit-input-placeholder {
    padding-top: 0.51667em; }
  textarea::-moz-placeholder {
    padding-top: 0.51667em; }
  textarea:-ms-input-placeholder {
    padding-top: 0.51667em; }
  textarea::placeholder {
    padding-top: 0.51667em; }
  textarea.field-notes {
    background: #FCFCFA;
    border-bottom: none;
    font-size: 0.8em;
    margin-bottom: 1rem;
    padding: 0.75rem 1rem 1rem; }

[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.3875em; }

[type="file"] {
  margin-bottom: 0.775em;
  width: 100%; }

select {
  margin-bottom: 0.775em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%;
  width: 100%; }

.contact__photo img {
  width: 100%; }
  @media screen and (min-width: 600px) {
    .contact__photo img {
      width: 95%; } }

table {
  border-collapse: collapse;
  margin: 0.775em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.775em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.775em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #0A5593;
  font-family: "DomaineTextWeb-Light";
  font-size: 1.25em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DomaineTextWeb-Light";
  font-size: 1.25em;
  font-weight: 200;
  line-height: 1.6;
  margin: 0 0 1.47353%; }

h1 {
  font-size: 1.5625em;
  line-height: 1.4; }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 2.44141em; } }

h2 {
  font-size: 1.25em;
  line-height: 1.4; }
  @media screen and (min-width: 600px) {
    h2 {
      font-size: 2rem;
      line-height: 1.45;
      margin: 0 0 3.36807%; } }

h3 {
  font-size: 1em; }
  @media screen and (min-width: 600px) {
    h3 {
      font-size: 1.5625em;
      line-height: 1.45; } }

h4 {
  font-size: 0.8em; }
  @media screen and (min-width: 600px) {
    h4 {
      font-size: 1.25em; } }

h6 {
  color: #FC7523;
  font-family: 'Simplon Mono';
  font-size: 0.512em;
  font-weight: 500;
  letter-spacing: 0.2rem;
  line-height: 1.7;
  text-transform: uppercase; }

p {
  font-size: 0.8em;
  font-weight: 100;
  line-height: 1.55;
  margin: 0 0 0.775em; }
  @media screen and (min-width: 600px) {
    p {
      font-size: 1em; } }
  p a {
    border-bottom: 1px solid currentColor;
    font-size: 0.8em; }
    @media screen and (min-width: 600px) {
      p a {
        font-size: 0.64em; } }
    p a.no-border-bottom {
      border-bottom: none; }
      p a.no-border-bottom:hover {
        color: #FC7523; }

small {
  color: #BFBFBF;
  display: block;
  font-family: 'Simplon Mono';
  font-size: 0.704rem;
  letter-spacing: 0.2rem;
  line-height: 1.7;
  text-transform: uppercase; }
  @media screen and (min-width: 600px) {
    small.metadata {
      margin-top: 0.7rem; } }

footer small {
  display: inline-block; }

a {
  color: #FC7523;
  font-family: 'Simplon Mono';
  font-weight: 200;
  letter-spacing: 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 300ms ease-in-out; }
  a:active, a:focus, a:hover {
    color: #0A5593;
    transition: color 300ms ease-in-out; }
  a p.round {
    -spec-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    a p.round:hover {
      background: #FC7523;
      color: #fff;
      -spec-transition: all 0.2s linear;
      transition: all 0.2s linear; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.55em 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.padded {
  padding: 1rem 0; }
  @media screen and (min-width: 600px) {
    .padded {
      padding: 3rem 0; } }

.bottom {
  margin-bottom: 0; }

.padded.bottom {
  padding: 1rem 0; }
  @media screen and (min-width: 600px) {
    .padded.bottom {
      padding: 7.07295% 0 3.53648%; } }

.page__title small {
  color: transparent; }
  @media screen and (min-width: 600px) {
    .page__title small {
      color: #BFBFBF; } }

.short-description {
  width: 100%; }
  @media screen and (min-width: 600px) {
    .short-description {
      width: 75%; } }

.link__lists a {
  display: block;
  font-family: "DomaineTextWeb-Light";
  font-size: 1rem;
  letter-spacing: 0;
  padding: 0.75rem 0;
  text-transform: none; }
  @media screen and (min-width: 600px) {
    .link__lists a {
      font-size: 1.15rem; } }

.link__inline {
  font-family: "DomaineTextWeb-Light" !important;
  font-size: inherit;
  letter-spacing: 0;
  text-transform: none; }

.subline {
  color: #afc9df;
  margin-top: -0.75em; }

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: auto;
  pointer-events: auto;
  z-index: 10; }
  @media screen and (min-width: 600px) {
    header {
      background: rgba(255, 255, 255, 0);
      height: auto;
      text-align: center;
      z-index: 8;
      transition: all 0.4s ease; } }

.nav_open {
  z-index: 10; }
  @media screen and (min-width: 600px) {
    .nav_open {
      background: rgba(255, 255, 255, 0.9);
      pointer-events: all;
      transition: all 0.4s ease; } }

nav {
  background-color: #0A5593;
  color: white;
  height: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: height 300ms ease-in-out; }
  @media screen and (min-width: 600px) {
    nav {
      background-color: transparent;
      color: #0A5593;
      height: 90px !important; } }

.nav__links {
  position: relative;
  z-index: 10; }
  @media screen and (min-width: 600px) {
    .nav__links li {
      float: left; } }
  .nav__links a {
    color: transparent;
    display: inline-block;
    margin: 0.85rem auto;
    opacity: 1;
    width: 280px;
    -spec-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease; }
    @media screen and (min-width: 600px) {
      .nav__links a {
        color: #999;
        float: left;
        font-size: 0.68rem;
        letter-spacing: 0.2rem;
        margin: 2.3rem auto;
        width: 100%; }
        .nav__links a:hover {
          color: #999 !important;
          -spec-transition: color 0.25s ease;
          transition: color 0.25s ease; } }
    .nav__links a:hover {
      color: transparent;
      opacity: 0.7;
      -spec-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease; }
    .nav__links a.process {
      background: transparent url("df-nav-process.svg") no-repeat 50% 50%;
      background-size: auto 15px; }
      @media screen and (min-width: 600px) {
        .nav__links a.process {
          background: none; } }
    .nav__links a.about {
      background: transparent url("df-nav-about.svg") no-repeat 50% 50%;
      background-size: auto 15px; }
      @media screen and (min-width: 600px) {
        .nav__links a.about {
          background: none; } }
    .nav__links a.recipes {
      background: transparent url("df-nav-recipes.svg") no-repeat 50% 50%;
      background-size: auto 15px; }
      @media screen and (min-width: 600px) {
        .nav__links a.recipes {
          background: none; } }
    .nav__links a.contact {
      background: transparent url("df-nav-contact.svg") no-repeat 50% 50%;
      background-size: auto 15px;
      margin-bottom: 4rem; }
      @media screen and (min-width: 600px) {
        .nav__links a.contact {
          background: none;
          margin-bottom: 1.2rem; } }
    .nav__links a.order {
      background: transparent url("df-nav-order-salmon.svg") no-repeat 50% 50%;
      background-size: auto 15px;
      margin: 2.5rem auto; }
      @media screen and (min-width: 600px) {
        .nav__links a.order {
          background: none;
          margin: 1.2rem auto; } }
  @media screen and (min-width: 600px) {
    .nav__links .first a {
      color: #FC7523 !important; }
      .nav__links .first a:hover {
        color: #FC7523 !important; } }
  .nav__links .last {
    border-bottom: 1px solid #BFBFBF;
    border-top: 1px solid #BFBFBF;
    position: relative; }
    @media screen and (min-width: 600px) {
      .nav__links .last {
        border: none; } }
    .nav__links .last::before {
      position: absolute;
      top: -42px;
      right: 0;
      left: 0;
      background: #0A5593 url("df-cordova-stamp-01.svg") no-repeat 50% 50%/85%;
      content: '';
      height: 60px;
      margin: auto;
      padding: 1rem;
      width: 200px; }
      @media screen and (min-width: 600px) {
        .nav__links .last::before {
          display: none; } }

nav a {
  color: #fff;
  font-family: 'Simplon Mono'; }
  nav a:hover {
    color: #FC7523; }
  nav a.active {
    color: #FC7523; }

nav .logo {
  margin: 1.25rem auto;
  position: relative;
  width: 125px;
  z-index: 10; }
  @media screen and (min-width: 600px) {
    nav .logo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      margin: 0 auto;
      width: 135px; } }

nav .seal {
  position: absolute;
  top: 62%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 90px; }
  @media screen and (min-width: 600px) {
    nav .seal {
      display: none; } }

.nav__container {
  position: absolute;
  border: 1px solid #BFBFBF;
  height: calc(100vh - 3.5%);
  margin: 0.75rem;
  top: 0;
  width: calc(100% - 1.5rem); }
  @media screen and (min-width: 600px) {
    .nav__container {
      background: #fff;
      border: none;
      height: auto;
      margin: 0;
      top: auto;
      width: 100%; } }
  .nav__container .desktop-only ul {
    margin: 0 auto;
    max-width: 1550px; }
    .nav__container .desktop-only ul li {
      width: 20%; }

@keyframes animatedBackground {
  from {
    background-position: 0px 0px; }
  to {
    background-position: 30px 0px; } }

.mobile__logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  opacity: 1;
  position: absolute;
  width: 125px;
  -spec-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }
  @media screen and (min-width: 600px) {
    .mobile__logo {
      display: none; } }

nav.open + p.mobile__logo {
  opacity: 0;
  -spec-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }

.nav_open .nav__trigger::after {
  position: absolute;
  right: 0;
  bottom: 8%;
  left: 0;
  background: url("df-mobile-close.svg") repeat-x 0 0;
  background-size: 100%;
  height: 20px;
  margin: 0 auto;
  opacity: 1;
  width: 20px;
  z-index: 9;
  transition: all 0.25s ease; }

@media screen and (min-width: 600px) {
  .nav_open .nav__trigger {
    position: relative; } }

.nav__trigger {
  position: absolute;
  top: 0;
  right: 4%;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 25px;
  width: 25px;
  margin: 0 auto;
  padding: 1.8em 1.5em;
  pointer-events: all;
  z-index: 8; }
  .nav__trigger::before {
    position: absolute;
    right: 0;
    bottom: 2%;
    left: 0;
    background: url("df-wave-menu.svg") repeat-x 0 0;
    background-size: 100%;
    content: '';
    cursor: pointer;
    display: block;
    height: 25px;
    margin: 0 auto;
    width: 25px; }
  .nav__trigger::after {
    content: '';
    opacity: 0;
    transition: all 0.25s ease; }
  @media screen and (min-width: 600px) {
    .nav__trigger {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      float: none;
      padding: 1.55em;
      height: 30px;
      width: 30px; }
      .nav__trigger:hover::before {
        animation: animatedBackground 0.75s linear infinite;
        animation-delay: 0; }
      .nav__trigger::before {
        height: 30px;
        width: 30px; } }

section {
  position: relative; }

.section__content.page__title {
  padding-bottom: 7.66237%;
  padding-top: 6.48354%; }
  @media screen and (min-width: 600px) {
    .section__content.page__title {
      padding-bottom: 4.7153%;
      padding-top: 3.53648%; } }

.section__content {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 6.48354%;
  padding-bottom: 10.60943%;
  padding-top: 9.43061%;
  position: relative; }
  .section__content::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (min-width: 600px) {
    .section__content {
      padding-bottom: 4.7153%;
      padding-top: 4.12589%; } }
  .section__content.no-padding-top {
    padding-top: 0; }
  .section__content .full {
    margin-bottom: 4.7153%;
    position: relative; }
    .section__content .full h3 {
      margin-top: 3.53648%; }
      @media screen and (min-width: 600px) {
        .section__content .full h3 {
          margin-top: 0; } }
    .section__content .full div:first-child {
      margin-bottom: 0.775em; }

.section--full {
  height: 100%;
  position: relative; }
  @media screen and (min-width: 600px) {
    .section--full {
      min-height: 100vh; }
      .section--full:before {
        min-height: 100vh; } }

.section--half {
  height: 100%;
  min-height: 50vh;
  position: relative; }
  .section--half:before {
    min-height: 50vh; }

.section--full,
.section--half {
  text-align: center; }
  .section--full:before,
  .section--half:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }
  .section--full .section__content,
  .section--half .section__content {
    display: inline-block;
    vertical-align: middle;
    width: 100%; }

.section__link {
  float: left;
  display: block;
  margin-top: 1.55em;
  width: 100%; }
  @media screen and (min-width: 600px) {
    .section__link {
      float: none;
      margin-top: 0;
      width: auto; } }
  .section__link a {
    border: 1px solid #FC7523;
    color: #FC7523;
    display: inline-block;
    font-size: 0.512em;
    padding: 1.03333em;
    text-align: center;
    text-decoration: none;
    width: 100%;
    -spec-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .section__link a:hover {
      background-color: #FC7523;
      color: #fff;
      -spec-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  @media screen and (min-width: 600px) {
    .section__link {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      font-size: 0.64em;
      margin-top: 0;
      transform: translateY(-50%); }
      .section__link a {
        position: absolute;
        right: 2.75%;
        background-color: transparent;
        border-bottom: 1px solid currentColor;
        border-width: 0 0 1px 0;
        font-size: 0.75rem;
        padding: 0;
        transform: rotate(90deg) translateX(50%);
        transform-origin: right;
        width: auto;
        -spec-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        .section__link a:hover {
          background-color: inherit;
          color: #0A5593;
          -spec-transition: all 0.2s ease;
          transition: all 0.2s ease; } }

.section__link__normal {
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .section__link__normal {
      margin: 4rem auto 0; } }
  .section__link__normal a {
    border-bottom: 1px solid #FC7523;
    display: inline-block;
    font-size: 0.512em;
    letter-spacing: 0.25rem;
    -spec-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media screen and (min-width: 600px) {
      .section__link__normal a {
        font-size: 0.64em;
        text-align: left; } }
    .section__link__normal a:hover {
      background-color: inherit;
      border-color: #0A5593;
      color: inherit;
      -spec-transition: all 0.2s ease;
      transition: all 0.2s ease; }

.secondary-link {
  color: #BFBFBF;
  display: block;
  font-family: "Simplon Mono";
  font-size: 0.6656rem;
  letter-spacing: 0.25rem;
  margin-top: 0.775em;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .secondary-link {
      text-align: left; } }
  .secondary-link:hover {
    color: #a6a6a6; }

footer {
  position: relative !important;
  bottom: 0;
  background-color: #fff;
  width: 100%; }

.section--footer {
  background: #001d2d;
  height: auto;
  padding-bottom: 2rem; }
  .section--footer .newsletter__form {
    height: 210px;
    margin-bottom: 3.5rem;
    position: relative; }
    @media screen and (min-width: 600px) {
      .section--footer .newsletter__form {
        height: 300px;
        margin-bottom: 0; } }
    .section--footer .newsletter__form #mc_embed_signup .mce_inline_error {
      background: transparent;
      color: #606e76;
      padding: 0.5rem 0 0; }
    .section--footer .newsletter__form #mc_embed_signup #mce-success-response {
      background: #001623;
      color: white;
      padding: 0.75rem 1rem 1rem;
      position: absolute;
      bottom: 0;
      width: 100%; }
  .section--footer .contact__details {
    height: 250px;
    position: relative; }
    @media screen and (min-width: 600px) {
      .section--footer .contact__details {
        height: 300px; } }
  .section--footer .contact--line {
    position: absolute;
    bottom: 0; }
  .section--footer h2 {
    color: #fff;
    font-family: "DomaineTextWeb-Light";
    font-size: 1.25em;
    font-weight: 200;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .section--footer h2 {
        font-size: 1.5625em;
        width: 90%; } }
  .section--footer small {
    color: #606e76;
    font-family: 'Simplon Mono Trial';
    letter-spacing: 0.15em;
    text-transform: uppercase; }
  .section--footer ul {
    border-top: 1px dotted #606e76;
    margin: 0.5rem 0 0;
    padding: 0; }
    @media screen and (min-width: 600px) {
      .section--footer ul {
        margin: 1.75rem 0 0; } }
  .section--footer li {
    border-bottom: 1px dotted #606e76;
    color: #fff;
    font-family: "DomaineTextWeb-Light";
    font-size: 1.2rem;
    font-weight: 200;
    list-style-type: none;
    padding: 1rem 0; }
    .section--footer li a {
      color: #fff;
      font-family: "DomaineTextWeb-Light";
      letter-spacing: 0;
      text-decoration: none;
      text-transform: none;
      transition: color 300ms ease-in-out; }
      .section--footer li a:hover {
        color: #FC7523;
        transition: color 300ms ease-in-out; }
  .section--footer form input[type="email"]::-webkit-input-placeholder {
    color: #606e76;
    font-family: "DomaineTextWeb-Light";
    font-size: inherit;
    letter-spacing: 0;
    margin: 0;
    opacity: 0.4;
    padding: 0;
    text-transform: none;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .section--footer form input[type="email"]::-webkit-input-placeholder {
        font-size: inherit; } }
  .section--footer form input[type="email"] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px dotted #606e76;
    border-radius: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #606e76;
    height: auto;
    float: left;
    font-family: "DomaineTextWeb-Light";
    font-size: 0.8em;
    font-weight: 100;
    margin-bottom: 0;
    padding: 0.5rem 0;
    position: absolute;
    bottom: 0;
    transition: border-color 300ms ease-in-out;
    width: 100%;
    transition: all 0.2s linear; }
    @media screen and (min-width: 600px) {
      .section--footer form input[type="email"] {
        font-size: 1.5625em;
        margin-bottom: 0.25rem; } }
  .section--footer form input[type="submit"] {
    background: transparent;
    border: none;
    color: #FC7523;
    font-family: 'Simplon Mono Trial';
    font-size: 0.512em;
    letter-spacing: 0.15rem;
    min-width: 50px;
    opacity: 0.3;
    padding: 0.65rem 0;
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
    transition: opacity 0.2s linear; }
    @media screen and (min-width: 600px) {
      .section--footer form input[type="submit"] {
        font-size: 0.64em;
        min-width: 70px;
        padding: 1.15rem 0; } }
  .section--footer form input[type="email"]:focus {
    box-shadow: none;
    border-bottom: 1px dotted #999;
    outline: none;
    transition: all 0.2s linear; }
  .section--footer form input[type="email"]:focus + input[type="submit"] {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s linear; }

.section--intro {
  text-align: center; }
  .section--intro #logo img {
    width: 200px; }

.section--profile .profile__bio {
  font-size: 1.1875rem; }

html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  transition: padding-bottom 300ms ease-in-out; }

footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%; }

.section--status {
  position: relative; }
  .section--status .section__content {
    padding-bottom: 0.94306%;
    padding-top: 1.17883%; }
  .section--status span {
    font-size: 1rem; }
  .section--status small {
    color: #FC7523;
    font-size: 0.512em; }
  .section--status p {
    display: inline-block; }
  .section--status .text-right p:nth-child(1) {
    margin-left: 0; }
  .section--status .text-right p {
    margin-left: 1.86em; }
    @media screen and (min-width: 600px) {
      .section--status .text-right p {
        margin-left: 2.325em; } }
  .section--status .text-center .logo {
    padding: 15px 0;
    vertical-align: middle;
    width: 20px; }
    @media screen and (min-width: 600px) {
      .section--status .text-center .logo {
        padding: 20px 0;
        width: 25px; } }

.status__trigger {
  cursor: pointer; }

.status__drawer {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height 300ms ease-in-out; }
  .status__drawer small {
    color: #0A5593; }

.status__container {
  position: absolute;
  top: 0;
  border: 2px solid #FC7523;
  margin: 0;
  padding: 2.35765%;
  padding-bottom: 5.89413%;
  padding-top: 4.7153%;
  text-align: center;
  width: 100%; }
  .status__container h1 {
    margin-bottom: 0.22143em; }
  .status__container small {
    color: #999;
    font-size: 0.64em; }
  .status__container .section__link__normal {
    display: block; }

.section--video {
  padding-top: 3.1em; }

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }
  .video-wrapper embed,
  .video-wrapper object,
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0A5593;
  opacity: 0;
  transition: all 300ms ease-in-out;
  visibility: hidden;
  z-index: 10; }
  .loader.loading {
    opacity: 1;
    visibility: visible; }

#about-us .df-seal {
  position: absolute;
  right: 1.55em;
  top: 14.725em;
  width: 30%;
  z-index: 9; }
  @media screen and (min-width: 600px) {
    #about-us .df-seal {
      position: relative;
      right: inherit;
      top: inherit;
      width: 20%; } }

.template-collection .section--full {
  min-height: auto; }
  .template-collection .section--full:before {
    display: none; }

.product--container {
  margin-bottom: 1.55em;
  padding: 0; }
  @media screen and (min-width: 600px) {
    .product--container {
      padding: 1.55em; } }
  .product--container .product--details {
    text-align: left; }
    .product--container .product--details a {
      border-bottom: none;
      color: #0A5593;
      font-size: 1.25em;
      font-weight: 400;
      transition: opacity 0.25s ease; }
      @media screen and (min-width: 600px) {
        .product--container .product--details a {
          font-size: 1em; } }
      .product--container .product--details a:hover {
        opacity: 0.75;
        transition: opacity 0.25s ease; }
    .product--container .product--details small {
      color: #FC7523;
      font-size: 0.64em; }
    .product--container .product--details.five {
      background: transparent url("05.svg") no-repeat 100% 70%;
      background-size: auto 40px; }
    .product--container .product--details.ten {
      background: transparent url("10.svg") no-repeat 100% 70%;
      background-size: auto 40px; }
    .product--container .product--details.fifteen {
      background: transparent url("15.svg") no-repeat 100% 70%;
      background-size: auto 40px; }
    .product--container .product--details.twenty {
      background: transparent url("20.svg") no-repeat 100% 70%;
      background-size: auto 40px; }
  .product--container a {
    display: block;
    font-family: "DomaineTextWeb-Light";
    letter-spacing: 0.05rem;
    text-align: left;
    text-transform: capitalize; }
    .product--container a .product--image {
      width: 100%; }

@media screen and (min-width: 600px) {
  .product--page .section__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; } }

@media screen and (min-width: 600px) {
  .product--page .one-half {
    display: inline-block;
    padding: 1.55em;
    vertical-align: middle; }
    .product--page .one-half:nth-child(2n+1) {
      margin-right: 0 !important; } }

.product--page .product--image img {
  width: 100%; }

.product--page .product--details {
  margin-top: 1.55em; }
  @media screen and (min-width: 600px) {
    .product--page .product--details {
      margin-top: 0; } }
  .product--page .product--details h2 {
    margin-bottom: 0; }
  .product--page .product--details strong {
    font-weight: 700; }
  .product--page .product--details em {
    color: #999;
    font-size: 0.8em; }
  .product--page .product--details [type='submit'] {
    font-size: 0.6912rem;
    padding: 1.29167em;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .product--page .product--details [type='submit'] {
        width: auto; } }
  .product--page .product--details .secondary-link {
    margin-top: 3.1em; }

.product--page .product-price {
  color: #FC7523;
  font-family: "Simplon Mono";
  font-size: 0.64em;
  letter-spacing: 0.15rem; }

.product--page #product--variants {
  margin: 1.03333em 0; }
  .product--page #product--variants select {
    background: #FCFCFA;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #0A5593;
    font-family: "DomaineTextWeb-Light";
    font-size: 0.8em;
    font-weight: 200;
    margin-bottom: 0;
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .product--page #product--variants select {
        font-size: 0.8em;
        width: 50%; } }

.cart--page th, .cart--page td {
  border-color: #f1f1f1; }

.cart--page th {
  color: #0A5593;
  font-size: 0.8em; }
  @media screen and (min-width: 600px) {
    .cart--page th {
      font-size: 1em; } }

.cart--page .item--title {
  line-height: 1.15; }
  .cart--page .item--title a:first-child {
    color: #0A5593;
    font-family: "DomaineTextWeb-Light";
    font-size: 0.8em;
    letter-spacing: 0.02rem;
    text-transform: capitalize; }
    @media screen and (min-width: 600px) {
      .cart--page .item--title a:first-child {
        font-size: 1em; } }

.cart--page .item-remove {
  text-align: left; }

.cart--page .item--price, .cart--page .item--total {
  color: #FC7523;
  font-family: "Simplon Mono";
  font-size: 0.5632em;
  letter-spacing: 0.15rem; }
  @media screen and (min-width: 600px) {
    .cart--page .item--price, .cart--page .item--total {
      font-size: 0.64em; } }

.cart--page .item--quantity input {
  border-radius: 0;
  box-shadow: none;
  color: #0A5593;
  font-family: "Simplon Mono";
  font-size: 0.64em;
  font-weight: 200;
  margin-bottom: 0;
  text-align: center;
  width: 50%; }
  @media screen and (min-width: 600px) {
    .cart--page .item--quantity input {
      font-size: 0.8em;
      width: 20%; } }

.cart--page .section__link__normal {
  font-size: 0.6144em;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .cart--page .section__link__normal {
      text-align: left; } }

.cart--page .cart--subtotal {
  font-family: "Simplon Mono";
  font-size: 0.64em;
  letter-spacing: 0.25em;
  margin: 2.325em 0;
  text-transform: uppercase; }
  .cart--page .cart--subtotal span {
    color: #FC7523;
    letter-spacing: 0.2em; }

.cart--page .cart--actions input {
  margin-bottom: 1.55em;
  width: 100%; }
  @media screen and (min-width: 600px) {
    .cart--page .cart--actions input {
      margin-bottom: 0;
      width: auto; } }

.cart--page .cart--actions input:first-child {
  border-color: #BFBFBF;
  color: #BFBFBF;
  margin-right: 0.775em; }
  .cart--page .cart--actions input:first-child:hover {
    background: #BFBFBF;
    color: #fff; }
  .cart--page .cart--actions input:first-child:active, .cart--page .cart--actions input:first-child:focus {
    color: #fff; }

.cart--page textarea {
  border-radius: 0;
  box-shadow: none; }

#recipes .blog__list {
  padding-top: 0; }
  @media screen and (min-width: 600px) {
    #recipes .blog__list {
      padding-top: 6.48354%; } }

#recipes .article {
  margin-bottom: 0.75rem;
  padding: 1rem 0; }
  @media screen and (min-width: 600px) {
    #recipes .article {
      margin-bottom: 1.75rem;
      padding: 0.5rem; } }
  #recipes .article:nth-child(3n+3) {
    margin-right: 0 !important; }
  #recipes .article:nth-child(3n+4) {
    clear: both; }

.blog__details {
  margin-bottom: 2rem;
  text-align: center; }
  .blog__details h2 {
    color: #0A5593;
    font-size: 1.25em;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: none; }
    @media screen and (min-width: 600px) {
      .blog__details h2 {
        font-size: 1.5625em; } }
  .blog__details p {
    font-size: 1rem; }
  @media screen and (min-width: 600px) {
    .blog__details {
      margin-bottom: 0; } }

.blog__read-more {
  padding-bottom: 0.1rem;
  font-size: 0.64em; }
  @media screen and (min-width: 600px) {
    .blog__read-more {
      font-size: 0.64em; } }

.blog-list__image {
  margin-bottom: 0.75rem; }
  .blog-list__image a {
    border-bottom: none;
    opacity: 1;
    -spec-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear; }
    .blog-list__image a:hover {
      opacity: 0.8;
      -spec-transition: opacity 0.25s linear;
      transition: opacity 0.25s linear; }
  .blog-list__image img {
    height: 325px;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden; }
    @media screen and (min-width: 600px) {
      .blog-list__image img {
        height: 450px; } }

.template-article .article__all {
  margin: 0 auto;
  padding-top: 0; }
  .template-article .article__all h2 {
    font-size: 1.85rem;
    line-height: 1.2;
    margin-bottom: 0.75rem; }
    @media screen and (min-width: 600px) {
      .template-article .article__all h2 {
        font-size: 2.5rem; } }
  .template-article .article__all p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.35rem; }
    @media screen and (min-width: 600px) {
      .template-article .article__all p {
        font-size: 1.1rem;
        line-height: 1.6; } }
    .template-article .article__all p em {
      color: #999;
      font-size: 0.8em; }
  .template-article .article__all small {
    font-size: 0.512em; }
  .template-article .article__all ul {
    margin: 0.5rem 0 2rem 1.5rem; }
    .template-article .article__all ul li {
      font-size: 0.8em;
      padding: 0.25rem 0; }
      .template-article .article__all ul li:before {
        content: "\2013 ";
        padding-right: 0.35rem; }

.template-article .article__back small {
  border-bottom: 1px solid #FC7523;
  clear: both;
  color: #FC7523;
  display: inline-block;
  opacity: 1;
  padding: 0.05rem;
  -spec-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .template-article .article__back small:hover {
    border-color: #0A5593;
    color: #0A5593;
    opacity: 0.8;
    -spec-transition: all 0.2s linear;
    transition: all 0.2s linear; }

.template-article .article__feature {
  padding-bottom: 2rem; }
  @media screen and (min-width: 600px) {
    .template-article .article__feature {
      padding-bottom: 0; } }
  .template-article .article__feature img {
    display: block;
    height: auto;
    object-fit: contain;
    object-position: 50% 50%;
    overflow: hidden;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .template-article .article__feature img {
        width: 95%; } }

.recipes__block {
  padding-bottom: 0 !important; }

.instagram__feed {
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .instagram__feed {
      margin: 2.4rem auto 0; } }
  .instagram__feed .iframe__cropper {
    height: 675px;
    overflow: hidden; }
  .instagram__feed iframe {
    overflow-y: hidden;
    pointer-events: none; }

.alabaster-background {
  background-color: #FCFCFA; }

.solitude-background {
  background-color: #E6EEF5; }

.snow-background {
  background-color: #FDFBFA; }

.one-sixths {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .one-sixths:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .one-sixths {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .one-sixths:last-child {
        margin-right: 0; } }

.one-quarters {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .one-quarters:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .one-quarters {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .one-quarters:last-child {
        margin-right: 0; } }

.one-thirds {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .one-thirds:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .one-thirds {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .one-thirds:last-child {
        margin-right: 0; } }

.five-twelfths {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .five-twelfths:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .five-twelfths {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      .five-twelfths:last-child {
        margin-right: 0; } }

.one-half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .one-half:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .one-half {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .one-half:last-child {
        margin-right: 0; } }

.two-thirds {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .two-thirds:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .two-thirds {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .two-thirds:last-child {
        margin-right: 0; } }

.three-quarters {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .three-quarters:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .three-quarters {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .three-quarters:last-child {
        margin-right: 0; } }

.five-sixths {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .five-sixths:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .five-sixths {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%; }
      .five-sixths:last-child {
        margin-right: 0; } }

.full {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .full:last-child {
    margin-right: 0; }

.shift-one-sixths {
  margin-left: 0%; }
  @media screen and (min-width: 600px) {
    .shift-one-sixths {
      margin-left: 17.05961%; } }

.shift-one-quarters {
  margin-left: 0%; }
  @media screen and (min-width: 600px) {
    .shift-one-quarters {
      margin-left: 25.58941%; } }

.shift-one-thirds {
  margin-left: 0%; }
  @media screen and (min-width: 600px) {
    .shift-one-thirds {
      margin-left: 34.11922%; } }

.shift-two-thirds {
  margin-left: 0%; }
  @media screen and (min-width: 600px) {
    .shift-two-thirds {
      margin-left: 68.23843%; } }

.desktop-only {
  display: none; }
  @media screen and (min-width: 600px) {
    .desktop-only {
      display: block; } }

.mobile-only {
  display: block !important; }
  @media screen and (min-width: 600px) {
    .mobile-only {
      display: none !important; } }

.wide-only-ib {
  display: none !important; }
  @media screen and (min-width: 900px) {
    .wide-only-ib {
      display: inline-block !important; } }

.center-content {
  clear: both;
  margin: 0 auto;
  text-align: center; }

.float-right {
  float: right; }

.hidden {
  display: none; }

#logo img {
  margin-top: -3em; }

@media screen and (min-width: 600px) {
  .section--intro {
    height: 100vh;
    width: 100%;
    z-index: 8; } }

.section--hands .section__link {
  margin-top: 0; }
  @media screen and (min-width: 600px) {
    .section--hands .section__link {
      float: none;
      margin-top: 0; } }

.wave {
  margin-top: 7.07295%;
  width: 220px; }

#process section {
  overflow: hidden; }

@media screen and (min-width: 600px) {
  #process .section__content {
    padding: 5.89413%;
    padding-bottom: 4.7153%;
    padding-top: 4.12589%; } }

#process .section__content .full:last-child {
  margin-bottom: 0; }
  #process .section__content .full:last-child .padded:last-child {
    padding-bottom: 0; }

#process h2 {
  margin-bottom: 0.5rem; }
  @media screen and (min-width: 600px) {
    #process h2 {
      margin-bottom: 0.775em; } }

#process .process__number {
  position: absolute;
  top: 0.5rem;
  left: calc(100% - 75px);
  width: 75px; }
  @media screen and (min-width: 600px) {
    #process .process__number {
      position: relative;
      left: 50%;
      width: 120px; } }

#process .snow-background .process__location small {
  background-color: #FDFBFA; }

#process .process__season {
  font-size: 0.512em; }

#process .process__location {
  display: none; }
  #process .process__location small {
    padding: 2.35765%;
    background-color: #fff; }
  @media screen and (min-width: 600px) {
    #process .process__location {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      display: block;
      transform: translateY(-50%); }
      #process .process__location .line {
        position: absolute;
        top: 0;
        left: 1.5em;
        border-bottom: 1px solid #BFBFBF;
        height: 0;
        transform-origin: left;
        width: 100%; }
        #process .process__location .line.line--down {
          transform: rotate(-90deg) translateX(-107%); }
        #process .process__location .line.line--up {
          transform: rotate(-90deg) translateX(-7%); }
      #process .process__location small {
        position: absolute;
        left: 2.7em;
        padding: 0 10px;
        transform: rotate(-90deg) translateX(-50%);
        transform-origin: left; } }

#process .current__location {
  border: 2px solid #FC7523; }

#process .section--attention {
  border: 2px solid #FC7523;
  border-width: 2px 0 2px 0;
  color: #FC7523 !important; }

#process small.mobile-only {
  float: left; }

#process .section--status .section__content {
  padding-bottom: 0.94306%;
  padding-top: 1.17883%; }

@media screen and (min-width: 600px) {
  #process .section--attention .section__link {
    position: absolute;
    top: 45%;
    right: 0;
    left: 0; } }

#about-us h2 {
  margin-top: 0.775em; }
  @media screen and (min-width: 600px) {
    #about-us h2 {
      margin-top: 0; } }

#about-us .section__link {
  margin-top: 0.775em; }
  @media screen and (min-width: 600px) {
    #about-us .section__link {
      margin-top: 0; } }

#about-us .full .one-quarters {
  margin-bottom: 0; }

#about-us .short-description {
  margin-top: 4.12589%; }

#about-us .df-seal {
  z-index: 8; }

#contact .one-half h2 {
  margin-bottom: 0.25833em; }

#contact .one-half p {
  font-size: 1.1rem; }
  #contact .one-half p a {
    font-size: 0.78rem; }

#contact .one-half small {
  margin-top: 1.86em; }

#contact .section__link {
  margin-top: 0.775em; }
  @media screen and (min-width: 600px) {
    #contact .section__link {
      margin-top: 0; } }

#contact .full .one-quarters {
  margin-bottom: 0; }

#contact .short-description {
  margin-top: 4.12589%; }

#contact form input[type="submit"] {
  margin-top: 1.2rem; }
