#{$all-buttons}, #contactFormSubmit {
  appearance: none;
  background-color: transparent;
  border: 1px solid $action-color;
  border-radius: 0;
  color: $action-color;
  cursor: pointer;
  display: inline-block;
  font-family: $secondary-font-family;
  font-size: modular-scale(-2);
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  letter-spacing: 0.25rem;
  min-width: 250px;
  padding: $base-spacing/1.2;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  @include transition(all 0.2s ease);

  @include media($medium-screen) {
    font-size: modular-scale(-2);
    padding: $base-spacing/1.8;

  }

  &:hover,
  &:focus {
    background-color: $action-color;
    color: $white;
    @include transition(all 0.2s ease);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

#contactFormSubmit {
  width: 100%;

  @include media($medium-screen) {
    width: 50%;
  }
}
