<section>
  <div class="section__content page__title">
    <!-- <small>{{ collection.title }}</small> -->
  </div>
  <div class="section__content">
    <div class="full">
      {% if collection.description.size > 0 %}
        <h2>{{ collection.description }}</h2>
      {% endif %}
    </div>
  </div>
</section>

<section class="section--full alabaster-background">
  <div class="section__content">
    {% for product in collection.products %}
      {% include 'product-item' %}
    {% else %}
      <div class="full">
        <p>There are no products in this view.</p>
      </div>
    {% endfor %}

    {% if paginate.pages > 1 %}
      <div class="full">
        {{ paginate | default_pagination }}
      </div>
    {% endif %}
  </div>
</section>
