<section>
  <div class="section__content">
    <div class="full">
      <h2>{{ collection.title }}</h2>
      {% if collection.description.size > 0 %}
        <p>{{ collection.description }}</p>
      {% endif %}
    </div>
  </div>
</section>

<section>
  <div class="section__content">
    {% for product in collection.products %}
      {% include 'product-item' %}
    {% else %}
      <div class="full">
        <p>There are no products in this view.</p>
      </div>
    {% endfor %}

    {% if paginate.pages > 1 %}
      <div class="full">
        {{ paginate | default_pagination }}
      </div>
    {% endif %}
  </div>
</section>
