<section class="section--full section--intro">
  <div class="section__content">
    <a id="logo" href="/">
      {{ 'df-logo-stacked-blue.svg' | asset_url | img_tag: shop.name }}
    </a>
  </div>
</section>

<section class="section--video alabaster-background">
  <div class="section__content">
    <img src="{{ 'video.png' | asset_url }}" alt="">
    <h2 class="bottom padded text-center">A husband and wife team bringing sustainably harvested salmon from the sea, to your table.</h2>
  </div>
</section>

<section class="section--full section--hands">
  <div class="section__content">
    <div class="one-thirds">
      <img src="{{ 'hands1.png' | asset_url }}" />
    </div>
    <div class="two-thirds">
      <div class="full">
        <h3 class="padded bottom text-left">Together, Nelly &amp; Michael now fish the beautiful Copper River and Prince William Sound on their 31-foot gill-netting boat called the Pelican.</h3>
      </div>
      <div class="five-sixths shift-one-sixths">
        <img src="{{ 'hands2.png' | asset_url }}" />
      </div>
    </div>
  </div>
</section>

<section class="section--full solitude-background">
  <div class="section__content">
    <h2>Information about purchasing fish goes here</h2>
  </div>
</section>