<section class="section--buy">
  <div class="section__content">
    <h2>Order our Salmon</h2>
    <div class="two-thirds">
      <img src="{{ 'fish1.png' | asset_url }}" alt="Fish" />
    </div>
    <div class="one-thirds">
      <p>Lorem ipsum Cillum voluptate proident mollit incididunt ut in magna pariatur qui sint veniam anim in do laboris ut anim deserunt quis labore ullamco tempor sunt magna cupidatat est officia.</p>
    </div>
  </div>
</section>

<section class="section--buy snow-background">
  <div class="section__content">
    <h2>Buy some Goods</h2>
    <div class="two-thirds">
      <img src="{{ 'bag1.png' | asset_url }}" alt="Bag" />
    </div>
    <div class="one-thirds">
      <p>Lorem ipsum Irure ex nisi et cillum sint deserunt ut do nulla commodo occaecat nostrud nisi esse aliquip laborum pariatur ea amet sunt nisi et qui Ut deserunt sint ut.</p>
    </div>
  </div>
</section>