{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}

<section>
  <div class="section__content">
    <h1>{{ page.title }}</h1>
    {{ page.content }}
  </div>
</section>