{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}
<div class="section__content page__title">
</div>
<section class="section--half section--middle">

  <div class="section__content">
    <div class="three-quarters">
      <h1 class="text-left padded">A husband and wife team bringing sustainably harvested salmon from the sea, to your table.</h1>
    </div>
    <div class="one-quarters df-seal">
      {{ 'df-seal.svg' | asset_url | img_tag }}
    </div>
  </div>
</section>
{{ pages.about-us.content }}
<section class="section--full-width">
  <div class="section__content instagram__feed">
    <div class="iframe__cropper">
      <iframe src="https://app.socialstream.io/shopify/widget?shop=driftersfish.myshopify.com"
        width="100%" height="800" style="border: none"></iframe>
    </div>
    <div class="padded center-content">
      <a class="button" href="https://www.instagram.com/driftersfish/" target="_blank">View Instagram</a>
    </div>
  </div>
</section>