{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}

<section class="section--half section--middle">
  <div class="section__content">
    <h1 class="text-left padded bottom">A little sleep, a little slumber, a little folding of the hands to rest.</h1>
  </div>
</section>

<section>
  <div class="section__content">
    <div class="one-thirds">
      <img src="http://placehold.it/500?text=mugshot" />
    </div>
    <div class="two-thirds">
      <h2>Michael Hand</h2>
      <p>Lorem ipsum Commodo proident consectetur minim sit nulla esse mollit cillum nulla dolore tempor deserunt ex pariatur dolor veniam in qui cupidatat reprehenderit occaecat fugiat amet aute.</p>
    </div>
  </div>

  <div class="section__content">
    <div class="one-thirds">
      <img src="http://placehold.it/500?text=mugshot" />
    </div>
    <div class="two-thirds">
      <h2>Nelly Hand</h2>
      <p>Lorem ipsum Sint Excepteur in veniam commodo velit tempor fugiat eiusmod ut Duis ut dolor elit elit exercitation eiusmod occaecat tempor ullamco commodo magna in sint.</p>
    </div>
  </div>
</section>

<section class="solitude-background">
  <div class="section__content">
    <img src="{{ 'alaska1.png' | asset_url }}" alt="Alaska" />
    <div class="five-sixths shift-one-sixths">
      <h3 class="padded bottom">There’s an incredibly supportive, beautiful fishing community that we have the pleasure of being a part of six months of the year. Together we all practice a responsible, sustainable way of fishing, which we feel honors the bounty the ocean graciously provides for us.</h3>
    </div>
  </div>
</section>